.ui.topmenu.fixed.menu{
  font-family: Helvetica, "sans-serif";
  font-size: 12px;
  height: 38px;
  box-shadow: none;
}
.ui.borderless.fixed.menu{
  font-size: 14px;
  z-index: auto;
  margin-top: 38px;
  border-top: none;
}

.ui.fluid.image{
padding-top: 109px;
}

.ui.fluid.second.image{
  padding-top: 20px;
}

.ui.fluid.third.image{
  padding-top: 20px;
}

.ui.fluid.fourth.image{
  padding-top: 20px;
}

.ui.nike.image{
  padding-left: 5px;
}
.footer-background2{
  background-color: black;
  padding:10px;
  font-family: Helvetica,"sans-serif";
}
.ui.four.column.grid.container.two{
  color: white;
  padding: 10px;
}






